  
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap');


:root {
  --primary-color: #464646;
  --secondary-color: #E02626;
  --third-color: #FFFF;

  --grey-light: #EFEFEF;
  --grey-medium: #DCDCDC;
  --grey-dark: #A7A7A7;
}

body {
  font-family: 'Nunito';
}

html, body {
  margin: 0;
  padding:0;

  width: 100vw;
  height: 100vh;

  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  background-color: var(--grey-light);
}

a {
  text-decoration: none;
}

.page-content {
  display: flex;
  height: calc(100vh - 220px);
  flex-direction: row;
  align-items: center;
  justify-content: center;
}