.home-container {
    height: calc(100vh - 220px);
    width: 100wh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.home-content {
    width: 1000px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;
}

.home-title {
    padding-bottom: 70px;

    font-family: Nunito;
    font-size: 30px;

    color: var(--primary-color);
}

.home-input-container{
    width: 800px;
    height: 60px;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    
}

.home-input-container input{
    width: 740px;
    height: 100%;

    border-radius: 10px 0px 0px 10px;
    text-align: center;

    color: var(--primary-color);
    background-color: var(--grey-medium);
    border: 1.5px solid var(--primary-color);

}

.home-input-container input::placeholder {
    color: var(--grey-dark);
}

.home-input-container input:hover {
    background-color: var(--grey-light);
}

.play-button{
    width: 60px;
    height: 108%;

    color: var(--third-color);
    background-color: var(--secondary-color);

    border-radius: 0px 10px 10px 0px;
    border: 1.5px solid var(--primary-color);
    border-left: none;
}

.play-button:hover{
    color: var(--primary-color);
    filter: brightness(90%);
    transition: all 250ms;
}
